body {
    margin: 0;
}

@font-face {
    font-family: 'Merriweather';
    src: url('/font/Merriweather-Regular.ttf');
}

p {
    font-family: 'Monserrat';
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    object-fit: cover;
}


nav {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    align-content: space-evenly;
    background-color: rgb(69, 66, 66);
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

nav>a {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-right: 2rem;
    text-decoration: none;

}

a.active {
    color: rgb(252, 99, 99);
}

.home {
    margin-right: auto;
}

nav>a:hover {
    color: rgb(24, 96, 159);
    transition-duration: 150ms;
}

h1 {
    margin-top: 3%;
    text-align: center;
}

.content-card {
    display: flex;
    flex-flow: row nowrap;
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #FF6969;
    color: black;
    font-family: 'Monserrat';
    align-content: center;
}

.content-card-img {
    width: 50%;
    border-radius: 50px;
    margin: 5px;
}

.content-card-text {
    color: black;
    font-family: 'Monserrat';
    font-size: calc(1.5vw + 1.5vh);
}

.box-content-card {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 20px 20px 20px;
    background-color: #FF6969;
    color: black;
    font-family: 'Monserrat';
    align-content: center;
}

.image-container {
    position: relative;
    padding-bottom: 1%;
}

.image-container img {
    object-fit: cover;
    display: block;
    width: 100%;
    max-height: 50vh;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px 20px;
    font-size: 25px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 50px;
}

.anchor-button {
    text-decoration: none;
    background-color: #9a4f4f;
    border-radius: 25px;
    border-color: #9a4f4f;
    color: white;
    text-align: center;
    display: block;
    font-size: 30px;
    width: 30%;
    max-width: 50%;
    justify-self: center;
    transform: translate(0, 50%);
}

footer {
    margin-top: 15px;
    border-top-style: solid;
    font-family: 'Merriweather';
}

.half-content-card {
    width: 30%;
    height: 742px;
    background-color: #FF6969;
    display: flex;
    flex-flow: nowrap column;
    border: solid 2px black;
    justify-content: flex-start;
    border-radius: 10px;
    font-size: 2rem;
}

.half-content-card-text {
    margin: 0 5%;
    font-size: 1.5rem;
}

.half-content-card h1 {
    margin: 2vh 5% 2%;
    font-size: 3rem;
}

.half-content-card-img {
    min-height: 46vh;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    justify-content: flex-start;
}

.half {
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin-bottom: 0;
    justify-content: flex-start;
}

.two-row {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    text-align: left;
    justify-content: space-around;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    margin: 12vh 3%;
}

.tech-conv {
    transform: translate(0, -3%);
}

.safe {
    transform: translate(0%, 200%);
}

.foot-box-content-card {
    display: flex;
    flex-flow: column wrap;
    margin: 0 20px 20px 20px;
    background-color: #FF6969;
    color: black;
    font-family: 'Monserrat';
    align-content: flex-end;
}

footer h5,
h6 {
    margin: 5px;
}

.conv {
    text-align: center;
    margin: 0 15rem 0 15rem;
    font-size: 40px
}

.box-border-content-card {
    margin: 0 50px 0 50px;
    background-color: #FF6969;
    display: flex;
    flex-flow: nowrap column;
    border: solid 2px black;
    justify-content: flex-start;
    border-radius: 10px;
    font-size: 2rem;
}

.box-border-content-card-img {
    min-height: 46vh;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.box-border-content-card-text {
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 0;
}

.box-border-content-card-text > h2 {
    margin-bottom: 0;
}

.box-border-content-card-text p {
    margin-top: 1%;
}

.box-border-content-card-margin {
    margin: 5% 50px 0 50px;
    background-color: #FF6969;
    display: flex;
    flex-flow: nowrap column;
    border: solid 2px black;
    justify-content: flex-start;
    border-radius: 10px;
    font-size: 2rem;
}

.margin {
    margin-left: 50px;
    font-size: 24px;
}